<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Color & Size lesson #30</title>
</head>

<body>
    <ul>
        <li>Styling Text..............
            Let's look at some properties that are used to style text.
            We have already seen the color property in action, which is used to change the color of the text.
            CODE PLAYGROUND:
            The .html file:
            <p class="intro">some text</p>
            <p>some other text</p>
            Th .CSS file:
            .intro {
            color: red;
            }
            ...run
        </li>

        <li>Fill in the blanks to make all paragraphs on the page blue.
            p {
            color: blue;
            }
            WHY: The CSS code you wrote sets the color of all paragraphs on the page to blue. The selector `p` selects
            all
            paragraphs and the property `color` sets the text color to blue. Therefore, all paragraphs on the page will
            appear in blue color.
        </li>

        <li>Color Values
            -Besides color names, a color value can also be set using hex and rgb values.

            -Colors are displayed in combinations of red, green, and blue light (RGB).

            -Hex values are written using the hashtag symbol (#), followed by six hex characters, which define the
            components:
            CODE:
            The .html file:
            <p class="intro">some text</p>
            <p>some other text</p>
            The .CSS file:
            .intro {
            color: #47759b;
            }
        </li>

        <li>QUIZ: Hex color values start with a:
            %
            *
            &
            #===
            Your answer is correct because hex color values start with a pound sign (#) followed by six hexadecimal
            digits
            which represent the red, green, and blue components of the color. For example, #FF0000 represents the color
            red,
            #00FF00 represents the color green, and #0000FF represents the color blue.
        </li>

        <li>Color Values......
            RGB defines the individual values for Red, Green, and Blue:

            CODE PLAYGROUND:
            The .html file:
            <p class="intro">some text</p>
            <p>some other text</p>
            The .css file:
            .intro {
            color: rgb(71, 117, 155);
            }
            - Each component can take the value 0 to 255.

            - 0 is the absence of the component, so rgb(0, 0, 0) corresponds to black, while rgb(255, 255, 255) is the
            color white.
        </li>

        <li>The B in RGB stands for:
            CHOICE:
            Black
            Brightness
            Blue====
            Binary
        </li>

        <li>Font Size
            The font-size property is used to set the size of the text.
            It can take values using pixels (px):

            CODE PLAYGROUND:
            The .html file:
            <p class="intro">some text</p>
            <p>some other text</p>
            The .css file:
            .intro {
            font-size: 32px;
            }
            Click to run

            The em size unit is another way to set the size of the text.

            1em is equal to the font size set on the parent element of the current element we are styling.

            By default, 1em = 16px
        </li>

        <li>Drag & drop to set the font size of the class="comment" to 18px and the color to #00FF00.....

            .comment {
            color: #00FF00;
            font-size: 18px;
            }
        </li>

        <li>Practice
            Let's summarize what we have learned:

            - The color property sets the text color.

            - The font-size property is used to define the font size.

            Practice with the Code Repo project below:
            Just Add Some Colors
            Define the text colors for each section.
            XP
            +5
            Practice
        </li>

        <li>................................................................
            Font Colors
            You are doing really great!

            Now, let's make your resume even more eye-pleasing by defining the colors for the text in the sections.

            Task

            In the CSS code, define font colors for the h2 elements to the hex value #2F5A78.

            Also, set the font size of the h2 elements to 20px.

            Example

            h2 {
            color: #2F5A78;
            font-size: 20px;
            }
            CSS

            .................................................................
        </li>
        <li>Which property sets the text color?
            CHOICES:
            text-color
            color====
            text-style
            font-color
        </li>

        <li></li>
    </ul>
</body>

</html>